# File generati da LaTeX
*.log
*.aux
*.toc
*.out

# PDF finale di LaTeX
*.pdf

/Elaborato.synctex.gz

ShirtShop/.Temp~/

# Files di backup
*~

/Thumbs.db
/fotomagliette/Thumbs.db
/fotostampe/Thumbs.db
/Immagini/Thumbs.db
/SlidePrimaEsposizione/Immagine/Thumbs.db
/SlidePrimaEsposizione/Thumbs.db